@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/pt-sans-italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: white;
}


.navigation-link {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    color: black;
}

.navigation-link-buttom {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    background-color: #756157;

}

.main-logotip {
    background-image: url("../images/main/index-background.jpg");
    background-color: #82B3D3;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.main-discription {
    background-color: white;
}

.main-index-slogan {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.main-index-why {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.reasons-list {
    text-align: center;
}

.reasons-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

.search {
    background-color: white;
}

.subscription,
.subscription-2 {
    background-color: #82B3D3;
    color: white;
    text-align: center;
}

.subscription {
    background-image: url("../images/main/main-subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: white;
}
.subscription-2{
    background-color: white;
    color: black;

}
.subscription-2 > .subscription-description{
    color: #333333;
}

.reasons li:nth-child(2n) {
    background-color: rgba(131, 179, 211, 0.12);
}

.reasons li:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.2);
}

.navigation-list,
.reasons-list,
.footer-social-list,
.breadcrumbs,
.catalog-filter-list,
.product-list,
.pagination {
    list-style-type: none;
}

.reasons-description {
    color: #333333;
}

.reasons li:nth-child(5) {
    background-color: #82B3D3;
    color: white;
}

.reasons li:first-child {
    background-color: #82B3D3;
    color: white;
}

.search {
    text-align: center;
}

.time-and-place {
    color: #333333;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.buttom-search {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.time-to-search {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.time-and-place {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.lets-subscription {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.subscription-description {
    font-size: 22px;
    line-height: 26px;
}

.subscription-button {
    background-color: #82B3D3;
    border-style: none;
}

.subscription-send {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.footer-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

.selection-panel {
    color: white;
    background-image: url(".../images/catalog/galery-filter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background: #82B3D3;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.button-yes,
.button-no {
    font-size: 16px;
    line-height: 20px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    background: #82B3D3;
    border-style: none;
}

.button-no {
    background: none;
}

.hotels-found {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.select-control {
    font-weight: 400;
    color: #333333;
    ;
}

.product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: black;
    text-decoration: none;
}

.product-card-type,
.product-card-price {
    font-weight: 400;
    color: #333333;
    text-align: right;
}

.product-card-buttom,
button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #756157;
    color: white;
    text-decoration: none;
    border-style: none;

}

.button {
    background-color: #82B3D3;
}

.product-card-raiting {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
}



.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    background: #82B3D3;
    color: white;
    text-decoration: none;
    border-style: none;
}

.pagination-current{
    color: black;
    background-color: #F2F2F2;;
}

.next{
    background: white;
    color: black;
}
